/* Filter.css */
.filter-dropdown {
    position: absolute;
    top: 20px;
    right: 20px; /* موقعیت فیلتر در بالا سمت راست */
    z-index: 1000;
    background: linear-gradient(135deg, #4f8a8b, #306879);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 33px;
  }
  
  .filter-label {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }
  
  .filter-select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
    color: #4f8a8b;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filter-select:hover {
    background-color: #e0f4f4;
    color: #306879;
  }
  
  .filter-select:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(79, 138, 139, 0.5);
  }
  